{% extends 'app/base.html' %}
{% block main-content %} 
<style>
   .img{
        background-color: #686262ad;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;}
  .grid{
        display:grid;
        grid-template-columns: repeat(3,8fr);
        gap:1px;
        
  }

</style>
  <!--basic div to get all books from the data -->
  <div class="container marketing mt-5">
   <div class="grid">
    {% for d in data %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
           <div class="img"><img src="{{d.books_img.url}}" class="img-fluid rounded-start" alt="..."></div> 
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Uploaded by: {{d.user | title}}</h5>
              <h5 class="card-title">Book name: {{d.books_name}}</h5>
              <p class="card-text">{{d.books_description}}</p>
                {% if request.user == d.user %}
                <a class="btn btn-primary" href="{% url 'update_book_record' d.id %}"
              >Update</a>
                <a class="btn btn-danger" href="{% url 'delete_record' d.id %}"
                >Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  </div>
{% endblock main-content %}