{% extends 'app/base.html' %} {% block main-content %}
<center><h1>Create a book record</h1></center>
{% comment %} Below div is to show the error messages {% endcomment %}
<div class="alert alert-warning m-5" role="alert">
  {% for message in messages %}
      <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endfor %}
</div>
{% comment %} Create a book record form {% endcomment %}
<form class="row g-3" method='POST' enctype="multipart/form-data">
{% csrf_token %}
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">User: </label>
    <input
      disabled
      type="text"
      class="form-control"
      name="username"
      value="{{user.username}}"
    />
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Book name: </label>
    <input
      type="text"
      class="form-control"
      name="books_name"
      placeholder="Book name"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Book image: </label>
    <input type="file" id="img" name="books_img" accept="image/*">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Book description: </label>
    <input
      type="text"
      class="form-control"
      name="books_description"
      placeholder="Book description"
    />
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-outline-success">
      Submit
    </button>
    <button type="cancel" class="btn btn-outline-danger">
      Cancel
    </button>
  </div>
</form>
{% endblock main-content %}
